@import "tailwindcss";

@font-face {
  font-family: Satoshi;
  src: local("Satoshi-Regular"), url("./assets/fonts/Satoshi-Regular.ttf");
}

@theme {
  --font-raleway: Satoshi;
  --color-header: #003366;
  --color-text: #333333;
}

/* tambahkan di globals.css atau index.css */
html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

.clip-path-diagonal {
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-30px); /* cukup kecil, tidak keluar layout */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.6s ease-out forwards;
  will-change: transform, opacity;
}

.animate-slideInRight {
  animation: slideInRight 0.6s ease-out 0.2s forwards;
  will-change: transform, opacity;
}

@layer utilities {
  .clip-path-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}
